<header class="px-20 py-5 bg-white shadow-md">
  <div class="flex justify-between items-center font-bold">
    <h2 class="text-lg">DailyKhata</h2>
    <div class="flex gap-10 items-center text-md font-semibold">
      <a
        href="/"
        class="text-gray-700 hover:text-blue-600 transition-colors duration-300"
        >Home</a
      >
      <a
        href="/create"
        class="text-gray-700 hover:text-blue-600 transition-colors duration-300"
        >Create New List</a
      >
    </div>
  </div>
</header>
